---
kind: top
---

<article>
  <% sorted_articles.first(5).each_with_index do |article, i| %>
  <section>
    <h2><%= link_to article[:title], article.path %></h2>
    <span><%= Time.parse(article[:created_at].to_s).strftime('%Y.%m.%d') %></span> <%= render "/_tags.*", item: article %>
    <%= article.compiled_content.gsub(/<!-- more -->.*/m, '') %>
  </section>
  <% end %>

  <div class="page">
    <% if next_page(1) %><%= link_to '&#187;', "/page/#{next_page(1)}/" %><% end %>
  </div>
</article>
