---
pageable: true
per_page: 5
---

<article>
<% page_articles.each_with_index do |article, i| %>
  <section>
    <h2><%= link_to article.title, article %></h2>
    <span><%= article.date.strftime('%Y.%m.%d') %></span> <%= partial "tags", :locals => { :tags => article.tags } %>
    <%= article.summary %>
  </section>
<% end %>

<% if paginate %>
<div class="page">
  <% if page_number != 1 %><%= link_to '&#171;', prev_page %><% end %>
  <% if page_number != num_pages %><%= link_to '&#187;', next_page %><% end %>
</div>
<% end %>
</article>
