<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @item[:title] ? @item[:title] + " - " : "" %><%= @config[:title] %></title>
    <link href="/stylesheets/screen.css" rel="stylesheet" />
    <%= render "/_ga.*" %>
    <%= render "/_pingdom.*" %>
    <link rel="alternate" type="application/rss+xml" title="<%= @config[:title] %>" href="/atom.xml" />
  </head>
  <body class="<%= class_name(@item) %>">
    <header>
      <div id="site-title">
        <h1><%= link_to @config[:title], '/' %></h1>
      </div>
      <nav class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li><%= link_to 'Home', '/' %></li>
          <li><%= link_to 'Archive', '/archives/' %></li>
          <li><%= link_to 'RSS', '/atom.xml' %></li>
          <li>
            <form action="https://google.com/search" method="get">
              <input type="search" name="q" results="0" placeholder="Search">
              <input type="hidden" name="q" value="site:<%= @config[:domain] %>">
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <a href="#" class="pure-menu-heading">Link</a>
      <ul>
        <li><%= link_to "Twitter", URI.join("https://twitter.com/", @config[:twitter_id]).to_s %></li>
        <li><%= link_to "Github", URI.join("https://github.com/", @config[:github_id]).to_s %></li>
        <li><%= link_to "Pinboard", "https://pinboard.in/u:#{@config[:pinboard_id]}".to_s %></li>
      </ul>
    </div>
    </footer>
  </body>
</html>
