<% render "/default.*" do %>
  <article>
    <h1><%= @item[:title] %></h1>
    <p id="article-info">
      Published on <%= Time.parse(@item[:created_at].to_s).strftime("%d %b %Y") %>
      <%#= partial "tags", :locals => { :tags => current_page.tags } %>
    </p>
    <%= yield %>
    <% if @item[:comments] %>
    <aside>
    <%= render "/_addthis.*" %>
    <%= render "/_disqus.*" %>
    </aside>
    <% end %>
  </article>
<% end %>
<script>
window.addEventListener("load", function() {
  var imgs = document.getElementsByTagName("img");
  for (var i = 0, len = imgs.length; i < len; i++) {
    var img = imgs[i];
    var a = document.createElement("a");
    a.setAttribute("href", img.src);
    a.setAttribute("title", img.alt);
    a.appendChild(img.cloneNode(true));
    img.parentNode.replaceChild(a, img);
  }
}, false);
</script>
