---
pageable: true
per_page: 5
---

<article>
<% page_articles.each_with_index do |article, i| %>
  <section>
    <h2><%= link_to article.title, article %></h2>
    <span><%= article.date.strftime('%Y.%m.%d') %></span> <%= partial "tags", :locals => { :tags => article.tags } %>
    <%= article.summary %>
  </section>
<% end %>

<% if paginate %>
<ul class="pure-paginator">
  <% if page_number != 1 %>
  <li><%= link_to '&#171;', prev_page, :class => "pure-button prev" %></li>
  <% end %>
  <% (1..num_pages).each do |n| %>
  <li><%= link_to n, (n == 1) ? "/" : "/page/#{n}/", :class => ("pure-button" + ((page_number == n) ? " pure-button-active" : "")) %></li>
  <% end %>
  <% if page_number != num_pages %>
  <li><%= link_to '&#187;', next_page, :class => "pure-button next" %></li>
  <% end %>
</ul>
<% end %>
</article>
